<div>
  <button (click)="addSkill()">Agregar Skill</button>

  <form [formGroup]="formParent">
    <input formControlName="name" appTrimValue type="text">

    <div formArrayName="skills">
      <div *ngFor="let skill of getCtrl('skills', formParent)?.controls;index as i">
        <div [formGroupName]="i">
          {{skill}}-{{i}}

          <input type="text" formControlName="language">
          <input type="text" formControlName="projectUrl">
          <input type="text" formControlName="expYear">

          <button (click)="removeValidation(i, 'expYear')">remove</button>
          <button (click)="addValidation(i, 'expYear')">Add</button>
        </div>
      </div>
    </div>
  </form>
</div>

<pre>{{ formParent.value | json }}</pre>
<pre>{{ formParent.valid | json }}</pre>
<pre>{{ formParent.controls["name"].value.length }} caracteres el nombre</pre>


--------------------------------------------------------------------------------------------

